* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/billboard-bg.png);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

h1 {
  text-align: center;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* align-items: center; */
  margin: 20px auto;
  padding: 30px;
  width: 40%;
  /* border: 1px solid gray; */
  border-radius: 5px;
  box-shadow: 4px 4px 8px gray;
}

label {
  margin: 20px 0px;
}

input.text,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.radio {
  margin: 5px 0;
}
.check {
  margin: 10px 0;
}

textarea {
  width: 100%;
  margin: 10px 0;
}

button {
  border: none;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: chocolate;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1.1rem;
}
